<h1>Servers</h1>

{{#link-to "servers.new"}}Add{{/link-to}}

<ul>
    {{#each model as |server|}}
        {{#unless server.isNew}}
            <li>{{server.hostname}} - {{server.image.name}} - status: {{server.status}}</li>
        {{/unless}}
    {{/each}}
</ul>

{{outlet}}
