.options-wrapper {
    margin-top: 20px;
    margin-left: -2%;

    > label {
        width: 18%;
        margin-left: 2%;
        display: inline-block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        position: relative;
        top: 0;

        &:hover {
            top: -5px;
            background-color: $gray-lighter;
        }

        .os-icon {
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-size: 4.5em;
        }
    }

    ul {
        @extend .list-unstyled;
        font-weight: normal;
    }
}
